$paletteColor1: #FFF;
$paletteColor2: #1a1212;
$paletteColor3: #340707;
$paletteColor4: #4d0f0f;
$paletteColor5: #700a0a;
$paletteColor6: #131a2c;
$paletteColor7: #3a5461;
$paletteColor8: #58707c;
$paletteColor9: #e6e7e9;
$paletteColor10: rgba(255, 255, 255, .7);
